.header {
    height: 124px;
    background-color: var(--white-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    cursor: pointer;
}

.header__navbar-item-strong {
    font-weight: 400 !important;
    color: red !important;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    color: var(--primary-color);
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon {
    display: inline-block;
    margin-right: 70px;
}

.header__navbar-list-mid {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 71px;
}

.header__navbar-list-mid li:first-child:hover {
    opacity: 0.8;
}

.header__navbar-item-mid {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #111;
    padding: 0 15px;
    cursor: pointer;
    height: 100%;
}

.header__navbar-item-mid:hover {
    background-color: #EFEFEF;
}

.header__navbar-img-home img {
    height: 37px;
    margin: 5px 20px 0 8px;
    max-width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.2s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 800px;
    margin: auto;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 1px;
    animation: growth linear 0.1s;
}

.auth-form {
    display: inline-flex;
    width: 100%;
}

.auth-form__left {
    width: 350px;
    height: 600px;
}

.auth-form__left img {
    width: 350px;
    height: 600px;
    
}

.auth-form__right {
    width: calc(100% - 350px);
    padding: 10px 15px 20px 15px;
}

.auth-form__right-heading {
    display: flex;
    list-style: none;
    margin: 0 14px;
    height: 47px;
    border-bottom: 1px solid #EEE;
    align-items: center;
    padding-left: 0;
}

.auth-form__login, 
.auth-form__register {
    padding: 15px 0 7px 0;
    margin-right: 25px;
    color: #434a54;
    font-size: 16px;
    cursor: pointer;
}

.auth-form__right-heading > li:focus {
    color: rgba(96, 106, 116, 0.98);
    background-color: var(--white-color);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
}

.auth-form__right-content {
    padding-top: 38px;
    margin: 0 14px;
}

.auth-form__login-content,
.auth-form__register-content {
    //display: none;
}

.form-group {
    display: inline-flex;
    padding-bottom: 5px;
    width: 100%;
}

.control-label {
    padding-top: 7px;
}

.form-control {
    width: 100%;
    background-color: #EEE;
    height: 30px;
    border: none;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
}

.register-month, .register-day, .register-year {
    padding: 4px 0 4px 5px;
}

.agree-checkbox {
    font-size: 12px;
}

.agree-checkbox input[type="checkbox"] {
    text-align: center;
    line-height: 15px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #CCC;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 5px;
    color: #a51817;
}

.agree-checkbox a {
    color: var(--primary-color);
    text-decoration: none;
}

.btn-register {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    border: none;
}

.break-line {
    margin-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);
}

.btn-social {
    color: var(--white-color);
    width: 40px;
    padding: 3px 7px;
    font-size: 20px;
}

.btn-facebook {
    width: var(--size-btn);
    background-color: #3b5998;
}

.btn-google {
    width: var(--size-btn);
    background-color: #dd4b39;
}

.btn-apple {
    width: var(--size-btn);
    border: 1px solid #333;
    background-color: #333;
}

.register-social {
    display: flex;
    justify-content: space-between;
}

.forgot-password {
    color: rgb(51, 51, 51);
    text-decoration: none;
    opacity: 0.7;
}

.auth-form__close {
    position: relative;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.hover-box {
    display: none;
    position: absolute;
    top: 124px;
    float: left;
    background-color: var(--white-color);
    box-shadow: 0px 0px 11.6854px rgba(0, 0, 0, 0.15);
    width: 200px;
    border-radius: 11px;
    border-top-left-radius: 0;
    padding: 15px 0;
}

.hover-box img {
    margin-right: 10px;
    max-width: 100%;
    vertical-align: middle;
}

.hover-box-link {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    width: 100%;
    float: left;
    padding: 8px 15px;
    font-size: 15px;
}

.hover-box-link:hover {
    font-weight: bold;
}